#mainContainer {
    min-height: calc(100vh - 50px - 5.625rem);
    overflow: hidden;
}

#sideMenu {
    min-width: 15rem;
    /* Hauteur minimale à addapter en fonction de la taille de vos header et footer */
    min-height: calc(100vh - 50px - 5.625rem);
}

.sideContent {
    max-height: calc(100vh - 50px - 5.625rem);
    min-height: calc(100vh - 50px - 5.625rem);

}

.dataTables_wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
}

.dataTables_wrapper>div:nth-child(2) {
    overflow: scroll;
}

.dataTables_wrapper table{
    min-width: max-content;
}

.btn-square {
    width: 6rem;
    height: 6rem;
}

.btn-green {
    color: #fff;
    background: hsl(134, 61%, 41%);
    border-color: hsl(134, 61%, 41%);
}
    .btn-green:hover {
        color: #fff;
        background-color: hsl(134, 61%, 34%);
        border-color: hsl(134, 61%, 31%);
    }

.btn-orange {
    color: #fff;
    background: hsl(27, 98%, 54%);
    border-color: hsl(27, 98%, 54%);
}
    .btn-orange:hover {
        color: #fff;
        background-color: hsl(27, 98%, 47%);
        border-color: hsl(27, 98%, 44%);
    }

.btn-purple {
    color: #fff;
    background: hsl(261, 51%, 51%);
    border-color: hsl(261, 51%, 51%);
}
    .btn-purple:hover {
        color: #fff;
        background: hsl(261, 51%, 44%);
        border-color: hsl(261, 51%, 41%);
    }

.btn-pink {
    color: #fff;
    background: hsl(332, 79%, 58%);
    border-color: hsl(332, 79%, 58%);
}
    .btn-pink:hover {
        color: #fff;
        background: hsl(332, 79%, 51%);
        border-color: hsl(332, 79%, 48%);
    }

.btn-teal {
    color: #fff;
    background: hsl(162, 73%, 46%);
    border-color: hsl(162, 73%, 46%);
}
    .btn-teal:hover {
        color: #fff;
        background: hsl(162, 73%, 39%);
        border-color: hsl(162, 73%, 36%);
    }
    
    .btn-red {
    color: #fff;
    background: hsl(354, 70%, 54%);
    border-color: hsl(354, 70%, 54%);
}
    .btn-red:hover {
        color: #fff;
        background: hsl(354, 70%, 47%);
        border-color: hsl(354, 70%, 44%);
    }
    
.btn-cyan {
    color: #fff;
    background: hsl(188, 78%, 41%);
    border-color: hsl(188, 78%, 41%);
}
    .btn-cyan:hover {
        color: #fff;
        background: hsl(188, 78%, 34%);
        border-color: hsl(188, 78%, 31%);
    }
    

/* Style page de connexion inspiré par les exemples Bootstrap 4.4 */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 0;
  margin-bottom: -1px;
}
.form-control:focus {
  z-index: 2;
}
.form-control-first {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.form-control-last {
    margin-bottom: 10px;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
